<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwyLGsqx4VXW-9bbEdIAtG0tn_UalMkec</string>
	<key>GCM_SENDER_ID</key>
	<string>230523064998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chickenCombat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hocgiagacon</string>
	<key>STORAGE_BUCKET</key>
	<string>hocgiagacon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230523064998:ios:6c4d3814520a9c5355da67</string>
</dict>
</plist>