<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwyLGsqx4VXW-9bbEdIAtG0tn_UalMkec</string>
	<key>GCM_SENDER_ID</key>
	<string>230523064998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chickencombat</string>
	<key>PROJECT_ID</key>
	<string>hocgiagacon</string>
	<key>STORAGE_BUCKET</key>
	<string>hocgiagacon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230523064998:ios:4b51083c391cc64a55da67</string>
	<key>DATABASE_URL</key>
	<string>https://hocgiagacon-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>