<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkY1eamy8DJnoM6sEzo_dypCzF7tog2yU</string>
	<key>GCM_SENDER_ID</key>
	<string>662203684781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chickenCombat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chickenleaningai</string>
	<key>STORAGE_BUCKET</key>
	<string>chickenleaningai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662203684781:ios:d12aa3795314158a387324</string>
</dict>
</plist>